<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanrio Love</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap JavaScript 추가 -->
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="/js/item/category.js" defer></script>
    <script src="/js/users/logout.js" defer></script>
    <script src="/js/users/message.js" defer></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a id="logo-link" class="logo-style" href="/view/home">Sanrio Love</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">판매</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="/view/write/item">상품 등록</a></li>
                        <li><a class="dropdown-item" href="/view/sale">판매 상품 리스트</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">검색</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li class="dropdown-submenu-made">
                            <a class="dropdown-item dropdown-toggle" data-category="POPULAR_SEARCH" href="#">인기 검색어</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="DOLL" href="#">인형</a></li>
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="KEYRING_CHARM" href="#">키링</a></li>
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="BROOCH_BADGE" href="#">브로치/뱃지</a></li>
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="ACRYLIC_STAND" href="#">아크릴 스탠드</a></li>
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="CAPSULE_TOY" href="#">캡슐토이/가챠</a></li>
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="FIGURE" href="#">피규어</a></li>
                                <li><a class="dropdown-item" data-category="POPULAR_SEARCH" data-subcategory="CARD_TYPE" href="#">카드류</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu-made">
                            <a class="dropdown-item dropdown-toggle" data-category="PHOTOCARD_DECOR" href="#">포카 꾸미기</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-category="PHOTOCARD_DECOR" data-subcategory="PHOTOCARD_HOLDER" href="#">포카카드 홀더</a></li>
                                <li><a class="dropdown-item" data-category="PHOTOCARD_DECOR" data-subcategory="TOPLOADER_SLEEVE" href="#">탑로더/슬리브</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu-made">
                            <a class="dropdown-item dropdown-toggle" data-category="DESK_DECOR" href="#">책상 꾸미기</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="DESK_FIGURE" href="#">피규어</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="HUMIDIFIER" href="#">가습기</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="KEYBOARD" href="#">키보드</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="KEYCAP" href="#">키캡</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="MOUSE" href="#">마우스</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="DESK_CLOCK" href="#">탁상시계</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="HANDY_FAN" href="#">핸디팬</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="BLUETOOTH" href="#">블루투스</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="MOUSE_PAD" href="#">마우스 패드</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="AIR_FRESHENER" href="#">방향제</a></li>
                                <li><a class="dropdown-item" data-category="DESK_DECOR" data-subcategory="USB_MULTI_HUB" href="#">USB 멀티허브</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu-made">
                            <a class="dropdown-item dropdown-toggle" data-category="JOURNAL_STATIONERY" href="#">다꾸/문구</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="STICKER" href="#">스티커</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="MASKING_TAPE" href="#">마스킹테이프</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="MEMO_PAD" href="#">메모지</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="LETTER_PAPER" href="#">편지지</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="POSTCARD" href="#">엽서</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="STAMP" href="#">스탬프</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="DIARY" href="#">다이어리</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="CALENDAR" href="#">달력</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="NOTE" href="#">노트</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="FILE_BINDER" href="#">파일/바인더</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="PEN_HOLDER" href="#">펜꽂이</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="OFFICE_SUPPLIES" href="#">사무용품</a></li>
                                <li><a class="dropdown-item" data-category="JOURNAL_STATIONERY" data-subcategory="PHONE_STRAP" href="#">휴대폰 스트랩</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu-made">
                            <a class="dropdown-item dropdown-toggle" data-category="WRITING_INSTRUMENTS" href="#">필기류</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-category="WRITING_INSTRUMENTS" data-subcategory="BALLPOINT_PEN" href="#">볼펜</a></li>
                                <li><a class="dropdown-item" data-category="WRITING_INSTRUMENTS" data-subcategory="MECHANICAL_PENCIL" href="#">샤프</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu-made">
                            <a class="dropdown-item dropdown-toggle" data-category="ACCESSORIES" href="#">소품</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="BALLPOINT_PEN" href="#">헤어템</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="MIRROR" href="#">거울</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="WALLET" href="#">지갑</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="BAG" href="#">가방</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="STORAGE_ORGANIZATION" href="#">수납/정리</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="CUSHION_BLANKET" href="#">쿠션/담요</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="MAGNET" href="#">자석</a></li>
                                <li><a class="dropdown-item" data-category="ACCESSORIES" data-subcategory="POUCH_CASE" href="#">파우치/케이스</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="ml-auto">
                <div class="form-inline">
                    <form class="btn-custom">
                        <a href="/view/user/order" data-bs-toggle="tooltip" data-bs-placement="top" title="주문 조회"><i class="bi-cart me-1"></i></a>
                    </form>
                    <form class="btn-custom">
                        <a href="/view/user/wish" data-bs-toggle="tooltip" data-bs-placement="top" title="찜 리스트"><i class="bi-heart me-1"></i></a>
                    </form>


                    <!-- 알림 버튼과 아이콘 -->
                    <form class="btn-custom" id="notification-button">
                        <i class="bi-bell me-2" href="#" data-toggle="tooltip" data-placement="top" title="알림"></i>
                        <span id="notification-count" class="badge-custom bg-dark text-white ms-1 rounded-pill">0</span>
                    </form>

                    <!-- 모달 구조 -->
                    <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="notificationModalLabel">알림 메시지</h5>
                                    <!-- 닫기 버튼 -->
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="notification-list">
                                    <!-- 알림 메시지 목록이 여기에 표시됩니다. -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-custom" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi-person me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="프로필◦로그아웃"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="/view/update/user">프로필 편집</a></li>
                            <li><a class="dropdown-item" href="#" onclick="logout()">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<br><br>
<div class="image-grid">
    <div class="image-container" data-sanrio-character="CINNAMOROLL" data-default-img="/images/cinnamoroll.png" data-selected-img="/images/cinn_pick.png">
        <img src="/images/cinnamoroll.png" alt="Image 1">
    </div>
    <div class="image-container" data-sanrio-character="POCHACCO" data-default-img="/images/pochaco.png" data-selected-img="/images/pochaco_pick.png">
        <img src="/images/pochaco.png" alt="Image 2">
    </div>
    <div class="image-container" data-sanrio-character="KUROMI" data-default-img="/images/kuromi.png" data-selected-img="/images/kuromi_pick.png">
        <img src="/images/kuromi.png" alt="Image 3">
    </div>
    <div class="image-container" data-sanrio-character="POMPOMPURIN" data-default-img="/images/pompom_purin.png" data-selected-img="/images/pompom_pick.png">
        <img src="/images/pompom_purin.png" alt="Image 4">
    </div>
    <div class="image-container" data-sanrio-character="HELLO_KITTY" data-default-img="/images/hello_kitty.png" data-selected-img="/images/kitty_pick.png">
        <img src="/images/hello_kitty.png" alt="Image 5">
    </div>
    <div class="image-container" data-sanrio-character="MY_MELODY" data-default-img="/images/my_melody.png" data-selected-img="/images/melody_pick.png">
        <img src="/images/my_melody.png" alt="Image 6">
    </div>
    <div class="image-container" data-sanrio-character="KEROKEROKEROPPI" data-default-img="/images/keroppi.png" data-selected-img="/images/keroppi_pick.png">
        <img src="/images/keroppi.png" alt="Image 7">
    </div>
    <div class="image-container" data-sanrio-character="HANGYODON" data-default-img="/images/han_gyo_don.png" data-selected-img="/images/gyo_don_pick.png">
        <img src="/images/han_gyo_don.png" alt="Image 8">
    </div>
</div>
<br><br>
<!-- 검색 폼 -->
<form id="searchForm" class="mb-3 d-flex justify-content-center">
    <input type="text" id="keyword" name="keyword" placeholder="검색어" class="form-control mx-2" style="width: auto;">
    <select id="searchType" name="searchType" class="form-control mx-2" style="width: auto;">
        <option value="tag">태그</option>
        <option value="itemName">상품명</option>
    </select>
    <button type="submit" class="btn btn-primary-search">검색</button>
</form>
<hr />
<br><br>

<div id="results" class="container">
    <!-- 검색 결과가 여기에 표시됩니다 -->
</div>

<div id="pagination" class="text-center">
    <!-- 페이지 네비게이션 버튼이 여기에 표시됩니다 -->
</div>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize all tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>

<script>
    $(document).ready(function() {
        let currentSearchType = ''; // 현재 입력분류 (태그/상품명)
        let currentKeyword = ''; // 현재 입력된 검색어
        let currentTag = ''; // 현재 선택된 태그
        let selectedSanrioCharacter = ''; // 현재 선택된 Sanrio 캐릭터

        // 페이지 로드 시 로컬 저장소에서 선택된 상태 가져오기 ->
        const savedCharacter = localStorage.getItem('selectedCharacter');
        if (savedCharacter) {
            const selectedImageContainer = $(`.image-container[data-sanrio-character='${savedCharacter}']`);
            if (selectedImageContainer.length) {
                toggleImage(selectedImageContainer);
                fetchItems(1, currentSearchType, currentKeyword, savedCharacter);
            }
        }

        // Sanrio 캐릭터 이미지 클릭 이벤트 핸들러
        $('.image-container').on('click', function() {
            const defaultImg = $(this).data('default-img');
            const selectedImg = $(this).data('selected-img');
            const character = $(this).data('sanrio-character');
            toggleImage($(this), defaultImg, selectedImg, character);
        });

        // 캐릭터 이미지 클릭 이벤트
        function toggleImage(element, defaultImg, selectedImg, character) {
            const imgElement = element.find('img');
            const isCurrentlySelected = element.hasClass('selected');

            // 모든 이미지의 선택 상태 초기화
            $('.image-container').removeClass('selected').find('img').each(function() {
                $(this).attr('src', $(this).parent().data('default-img'));
            });

            // 현재 선택된 상태라면 선택 해제
            if (isCurrentlySelected) {
                element.removeClass('selected');
                imgElement.attr('src', defaultImg);
                localStorage.removeItem('selectedCharacter');
                selectedSanrioCharacter = null;  // 선택 해제 시 변수도 null로 설정
            } else { // 그렇지 않다면 선택 설정
                element.addClass('selected');
                imgElement.attr('src', selectedImg);
                localStorage.setItem('selectedCharacter', character);
                selectedSanrioCharacter = character; // 선택 설정
            }

            // 선택 상태에 따라 아이템 갱신
            fetchItems(1, currentSearchType, currentKeyword, selectedSanrioCharacter); // 선택 변경 시 아이템 갱신
        }


        // 페이징 이미지 정렬
        function fetchItems(page = 1, searchType = '', keyword = '', sanrio = '') {
            let accessToken = localStorage.getItem('accessToken');
            accessToken = accessToken ? accessToken.trim() : '';

            let data = {
                page: page - 1, // 페이지 번호를 0 기반으로 변환
                size: 8
            };

            // 검색 유형과 검색어 추가
            if (searchType) {
                data[searchType] = keyword;
            } else if (currentTag) {
                data['tag'] = currentTag;
            }

            // Sanrio 캐릭터 검색 파라미터 추가
            if (sanrio) {
                data['sanrio'] = sanrio;
            }

            $.ajax({
                url: '/api/items/search',
                method: 'GET',
                headers: {
                    'Authorization': accessToken
                },
                data: data,
                success: function(response) {
                    const resultsContainer = $('#results');
                    const paginationContainer = $('#pagination');

                    resultsContainer.empty();
                    paginationContainer.empty();

                    const items = response._embedded ? response._embedded.thumbnailItemDtoList : [];
                    const totalPages = response.page ? response.page.totalPages : 0;
                    const currentPage = response.page ? response.page.number + 1 : 1;

                    if (items.length === 0) {
                        resultsContainer.append('<div class="error-wrapper"><img class="image-error" src="/images/out_of_stock_V2.png"></div>');
                    } else {
                        let row = $('<div class="row"></div>');
                        items.forEach(function(item, index) {
                            const userDefinedTags = item.userDefinedTags ? item.userDefinedTags : ['없음'];
                            const recommendedTags = item.recommendedTags ? item.recommendedTags : ['없음'];
                            const likeCountText = item.likeCount > 0 ? `${item.likeCount}명이 찜한 상품입니다` : '';
                            const isWished = item.likedByUser;
                            const buttonClass = isWished ? 'btn-danger' : 'btn-outline-dark';
                            const buttonText = isWished ? '찜 취소' : '찜하기';

                            const card = `
                                <div class="col-md-3 mb-4">
                                    <div class="card h-100">
                                        <img class="card-img-top" src="${item.thumbnail}" alt="Item Image" data-id="${item.id}" />
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <h5 class="fw-bolder">${item.nameKor}</h5>
                                                <div class="d-flex align-items-center justify-content-center mb-2">
                                                    <span>${likeCountText}</span>
                                                </div>
                                                ${item.price}원
                                            </div>
                                        </div>
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center">
                                                <a class="btn ${buttonClass} mt-auto btn-wish" data-id="${item.id}" data-wished="${isWished}" href="#">${buttonText}</a>
                                            </div>
                                            <div class="tag-container mt-3">
                                                ${userDefinedTags.map(tag => `<span class="badge bg-hashtag" data-tag="${tag}">#${tag}</span>`).join('')}
                                                ${recommendedTags.map(tag => `<span class="badge bg-hashtag" data-tag="${tag}">#${tag}</span>`).join('')}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            `;
                            row.append(card);
                            if ((index + 1) % 4 === 0) {
                                resultsContainer.append(row);
                                row = $('<div class="row"></div>');
                            }
                        });
                        if (row.children().length > 0) {
                            resultsContainer.append(row);
                        }
                    }

                    // Pagination
                    for (let i = 1; i <= totalPages; i++) {
                        const pageButton = $(`<button class="btn ${i === currentPage ? 'btn-selected' : 'btn-outline-secondary'}">${i}</button>`);
                        pageButton.on('click', function() {
                            fetchItems(i, currentSearchType, currentKeyword, selectedSanrioCharacter);  // 페이지와 함께 검색 파라미터 전달
                        });
                        paginationContainer.append(pageButton);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', status, error);

                    // 오류 이미지용 래퍼 요소를 추가
                    const errorHtml = `
                        <div class="error-wrapper">
                            <img class="image-error" src="/images/error_v2.png" alt="Error Image">
                        </div>
                    `;

                    $('#results').html(errorHtml); // 기존 결과를 비우고 오류 이미지를 추가
                }
            });
        }

        // Handle search form submission
        $('#searchForm').on('submit', function(event) {
            event.preventDefault();
            currentSearchType = $('#searchType').val();
            currentKeyword = $('#keyword').val();
            currentTag = ''; // 태그 초기화
            fetchItems(1, currentSearchType, currentKeyword, selectedSanrioCharacter || undefined);
        });

        // Handle logo click
        $('#logo-link').on('click', function(event) {
            event.preventDefault();
            currentSearchType = '';
            currentKeyword = '';
            window.location.href = '/view/home';
        });

        // Handle wish button click
        $(document).on('click', '.btn-wish', function(event) {
            event.preventDefault();
            const button = $(this);
            const itemId = button.data('id');
            const isWished = button.data('wished');

            let accessToken = localStorage.getItem('accessToken');
            accessToken = accessToken ? accessToken.trim() : '';

            if (!accessToken) {
                alert('로그인이 필요합니다.');
                return;
            }

            if (!itemId) {
                alert('상품 ID가 유효하지 않습니다.');
                return;
            }

            const url = isWished ? `/api/wish/wishItem/${itemId}` : '/api/wish';
            const method = isWished ? 'DELETE' : 'POST';
            const data = isWished ? null : JSON.stringify({ id: itemId }); // DELETE일 때는 데이터 필요 없음, POST일 때는 JSON 데이터 전송

            $.ajax({
                url: url,
                method: method,
                headers: {
                    'Authorization': accessToken
                },
                contentType: 'application/json',
                data: data,
                success: function(response) {
                    const newLikeCount = response.likeCount;
                    const likeCountSpan = button.closest('.card').find('.card-body .d-flex span');
                    const newLikeCountText = newLikeCount > 0 ? `${newLikeCount}명이 찜한 상품입니다` : '';

                    likeCountSpan.text(newLikeCountText);

                    if (isWished) {
                        button.removeClass('btn-danger').addClass('btn-outline-dark').text('찜하기').data('wished', false);
                    } else {
                        button.removeClass('btn-outline-dark').addClass('btn-danger').text('찜 취소').data('wished', true);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                    alert(`${isWished ? '찜 취소' : '찜하기'} 요청 중 오류가 발생했습니다.`);
                }
            });
        });

        // 상품에 표시된 태그를 클릭하여 검색하기
        $(document).on('click', '.tag-container .badge', function(event) {
            event.preventDefault();
            currentTag = $(this).data('tag');
            $('#keyword').val(currentTag);
            fetchItems(1, currentSearchType, currentKeyword, selectedSanrioCharacter || undefined);
        });

        // 상품 상세 페이지 이동
        $(document).on('click', '.card-img-top', function(event) {
            event.preventDefault();
            const itemId = $(this).data('id');
            if (itemId) {
                localStorage.setItem('selectedItemId', itemId);
                window.location.href = '/view/shop/item';
            }
        });

        // Initial fetch on page load
        fetchItems();
    });
</script>


</body>
</html>